<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= current_page.data.title || "Carnelian Assisted Living" %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="css/normalize.css" type="text/css" />
        <link rel="stylesheet" href="css/sidebar.css" type="text/css" />       
        <link rel="stylesheet" href="css/main.css" type="text/css" />
        <script src="js/vendor/modernizr-2.6.1.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <p class="nav-menu hamburger-menu">
                        MENU<span class="menux">&times;</span>
                    </p>
                    <!-- <div class="exx"></div> -->
                </li>
                <li class="euro">
                    <a href="#">HOME</a>
                </li>
                <li class="euro">
                    <a href="#">OUR SERVICES</a>
                </li>
                <li class="euro">
                    <a href="#">ABOUT US</a>
                </li>
                <li class="euro">
                    <a href="#">OUR PROMISE</a>
                </li>
                <li class="euro">
                    <a href="#">CONTACT US</a>
                </li>
               
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

    


       
        <header class="nav-down">
            <div class="navback">
                <div class="container-fluid">
                    <img class="navlogo" src="
                    /img/final-logo-transp-thick.png" />
                
                    <!-- Mobile Nav START -->
                    <div class="hamburger-menu" style="float: right;">
                        <div class="hamburg-line"></div>
                        <div class="hamburg-line"></div>
                        <div class="menu-txt">MENU</div>
                    </div>
                    <!-- desktop menu START-->
                    <div class="navtable" style="float: right;">
                        <ul id="desktop-nav">
                            <li class="euro">
                                <a href="#">HOME</a>
                            </li>
                            <li class="euro">
                                <a href="#">OUR SERVICES</a>
                            </li>
                            <li class="euro">
                                <a href="#">ABOUT US</a>
                            </li>
                            <li class="euro">
                                <a href="#">OUR PROMISE</a>
                            </li>
                            <li class="euro">
                                <a href="#">CONTACT US</a>
                            </li>
                           
                        </ul>
                    </div><!-- end desktop menu END-->
                </div><!--container-fluid-->
                <!-- Mobile Nav END -->
            </div><!--navback-->
        </header>

        <%= yield %>

    </div><!--end wrapper id-->


    <footer>
        <div class="ftable">
            <ul id="horizontal-list">
                <li>HOME</li>
                <li>OUR SERVICES</li>
                <li>ABOUT</li>
                <li>OUR PROMISE</li>
                <li>CONTACT US</li>
            </ul>
        </div>

        <div class="bottom">

        </div>

    </footer>

        <script src="https://cdn.polyfill.io/v1/polyfill.min.js"></script>
        <script src="//use.typekit.net/jml7kok.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
