html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   SECTION: MOBILE Navbar START
   ========================================================================== */

.hamburger-menu {
    position: relative;
    margin-right: 5px;
    margin-top: 15px;
    font-family: 'Josefin Sans';
}

.hamburger-menu:hover {
    cursor: pointer;
    color: rgba(243,200,89,1);
}

.hamburger-menu:hover > .hamburg-line {
    background-color: rgba(243,200,89,1);
}

.hamburger-menu:hover > .menux {
    color: rgba(243,200,89,1);
}


.hamburg-line {
    width: 42px;
    height: 8px;
    border-radius: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    background-color: black;
}


@media(min-width: 940px) {
    .hamburger-menu {
        display: none;
    }
}



.nav-menu {
    font-size: 1.3em;
    color: white;
    cursor: pointer;
}

.menu-txt {
    font-size: .9em;
}

.menux {
    font-size: 1.8em;
    margin-left: 30px;
    margin-right: 20px;
    color: #4D4D4D;
}

.menux:hover {
    text-decoration: none;
    color: rgba(243,200,89,1);
}



/* ==========================================================================
   SECTION: MOBILE Navbar END
   ========================================================================== */


/* ==========================================================================
   SECTION: Navbar START
   ========================================================================== */


.navlogo {
    width: 300px;
    height: auto;
    padding: 15px 0 10px 20px;
}


@media(max-width: 940px) {
    .navlogo {
        width: 200px;
        height: auto;
    }
}


/*a {
    border: 2px dashed blue;
}*/


header {
    height: 100px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.nav-up {
    top: -100px;
}

.navback {
    background:rgba(255,255,255,1);
    display: block;
    z-index: 1000;
}

.navtable {
    display: none;
}

@media(min-width: 940px) {
    .navtable {
        display: table;   /* Allow the centering to work */
        margin: 0 auto -5px auto;
    }

    ul#desktop-nav {
        list-style: none;
        padding-top: 15px;
        text-decoration: none;
    }

    ul#desktop-nav li {
        display: inline-block;
        font-family: 'Josefin Sans', sans-serif;
        letter-spacing: 0.85px;
        /*border: 1px dashed blue;*/
    }

    ul#desktop-nav li:hover {
        cursor: pointer;
        color: #F3C859;
    }
    ul#desktop-nav li a {
        display: inline-block;
        text-decoration: none;
        color: #717477;
        padding: 12px 10px 0 10px;
        font-size: 1.5em;
    }
    ul#desktop-nav li a:hover {
        text-decoration: none;
        color: rgba(243,200,89,1);
    }

    
}





/* ==========================================================================
   SECTION: Navbar END
   ========================================================================== */


/* ==========================================================================
   SECTION: Banner START
   ========================================================================== */

/*.container-fluid {
  border: 2px dashed blue;
}*/


/*fixes spacing issue on mobile*/
@media(max-width: 750px) {
    .navlogo {
        padding-left: 15px;
    }
}


section.banner {
    background:url(/img/smile2-min.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    min-height: 700px;
    color: black;
}

@media(max-width: 940px) {
    section.banner {
        min-height: 100%;
    }
}

.top-margin {
    margin-top: 100px;
    text-align: center;
}


.headerback {
    background:rgba(243,200,89,.5);
    width: 100%
}

h1.heading {
    margin-top: 30%;
    margin-left: 5%;
    font-size: 5em;
    text-align: left;
    color: white;
    font-family: Raleway, Helvetica, Open-Sans, Sans-Serif;
    font-weight: 700;
    /*background:rgba(243,200,89,.5);*/
    padding: 20px 0 10px 0;
    text-shadow: -0.3px 0 black, 0 0.3px black, 0.3px 0 black, 0 -0.3px black;
    max-width: 750px;

}

@media(min-width: 1500px) {
    h1.heading {
        font-size: 6em;
        margin-top: 400px;
        max-width: 900px;
    }
}


@media(max-width: 940px) {
    h1.heading {
        font-size: 4.5em;
        margin-top: 50%;
    }
}

/* iPhone 6, 6+ */

@media(max-width: 740px) {
    h1.heading {
        font-size: 4em;
        margin-top: 60%;
    }
    /*iPhone 6, 6+ landscape*/
    @media screen and (orientation: landscape) {
        h1.heading {
            margin-top: 0;
        }
    }
}

/*iPhone 5 landscape*/
@media(max-width: 570px) {
    h1.heading {
    }
    @media screen and (orientation: landscape) {
        h1.heading {
            margin-top: 0;
            font-size: 3.4em;
        }
    }
}
/*iPhone 6*/

@media(max-width: 450px) {
    h1.heading {
        font-size: 3.6em;
        margin-top: 10%;
    }
    .promised {
        font-size: 1.3em;
    }
    .indexhead {
        font-size: 1.2em;
    }

    /*iPhone 5 landscape*/
    @media screen and (orientation: landscape) {
        h1.heading {
            margin-top: 0;
            font-size: 2em;
        }
    }
}

@media(max-width: 370px) {
    h1.heading {
        font-size: 3em;
        margin-top: -20px;
    }
}








/* ==========================================================================
   SECTION: Banner END
   ========================================================================== */



/* ==========================================================================
   SECTION: S1 START
   ========================================================================== */

section.s1 {
    height: 100%;
    font-family: Helvetica, sans-serif;
}

section.s1 p {
    font-size: 1.5em;
}

section.s1 h2 {
    font-size: 3.8em;
    font-weight: 500;
    color: #767676;
    margin-left: 10%;
    line-height: 92px;
    font-family: Museo;
}
section.s1 h3 {
    font-size: 2em;
}

.gallery {
    width: 100%;
    height: 50%;
    /*border: 1px dashed black;*/
}

.gallery .pic {
    width: 33.333333%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    float: left;
    display: block;
    /*border: 1px solid #636363;*/
}


.firstheadline {
    text-align: left;
    margin-top: 120px;
    margin-bottom: 100px;
}

.everyday {
    font-size: 1.3em;
    color: #2A2A2A;
    /*background: #FFDE52;*/
}
.firstp {
    /*background-color: blue;*/

}

.row {
    /*border: 1px dashed yellow;*/
}
.col-md-6 {
    border: 1px dashed red;
}

.col-sm-6 {
    border: 1px dashed red;
}

.col-sm-4 {
    /*border: 1px dashed red;*/
}
.col-sm-8 {
    /*border: 1px dashed red;*/
}
.col-md-4 {
    border: 1px dashed red;
}


/* ==========================================================================
   SECTION: S1 END
   ========================================================================== */



/* ==========================================================================
   FOOTER START
   ========================================================================== */


footer {
    height: 100%;
    background-color: #636363;
    font-family: 'Josefin Sans', Raleway, Helvetica, sans-serif, open-sans;
    font-weight: 100;
}

.ftable {
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
}

ul#horizontal-list {
    list-style: none;
    padding-top: 20px;
    font-family: 'Josefin Sans', Raleway, Helvetica, Sans-serif;

}

ul#horizontal-list li {
    display: inline-block;
    font-size: 1.3em;
    padding: 15px;
    /*border: 1px dashed blue;*/
    color: rgba(243,200,89,1);
}

ul#horizontal-list li a {
    font-family: 'Josefin Sans', Raleway, Helvetica, Sans-serif;
}

ul#horizontal-list li:hover {
    cursor: pointer;
    color: white;
}

@media(max-width: 750px) {
    .ftable {
        display: block;  
    }

    ul#horizontal-list li {
        display: block;
        border: 1px dashed blue;
        text-align: center;
        max-width: 90%;
    }  
}

div#bottom {
    position: absolute;
    bottom: -10px;
    height: 100px;
    background-color: red;
    z-index: 100;
}

.visitus {
    height: 200px;
    background-color: #9C9D58;
}

.visitus h1 {
    position: relative;
    display: block;
    float: left;
    margin: 40px 0 0 100px;
    font-size: 5em;
    font-weight: 100;
    color: white;
}

.address {
    display: block;
    text-align: center;
    margin: 50px auto;
    color: white;
    font-size: 1.2em;
    font-family: 'Josefin Sans', Raleway, Helvetica, Sans-serif;
    letter-spacing: 1.5px
}



.address a {
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', Raleway, Helvetica, Sans-serif;
}

.address a:hover {
    color: rgba(243,200,89,1);
}

/* ==========================================================================
   FOOTER END
   ========================================================================== */




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
