---
title: Our History
---

<section class="aboutbanner">
	<div class="gradient-overlay">
		<div class="container-fluid">


			<div class="top-margin">
				<!-- <div class="headerback"> -->
					<h1 class="heading">Our <span class="promised">History</span></h1>
				<!-- </div> -->

			</div><!--top-margin-->
		</div><!--container fluid-->
	</div>

	</section><!--Banner-->

	<section class="s1">
		<div class="firstp">
  
			<p>The Carnelian is an assisted living care home in Walnut Creek, CA. The business is run by Katherine Grutas and her twin brothers Jay and Adlai. </p>
		</div>

	</section>
