---
title: Carnelian Assisted Living
---

<!-- Add your site or application content here -->
<section class="banner">
	<div class="container-fluid">


		<div class="top-margin">
			<!-- <div class="headerback"> -->
			<!-- <div class="logobr"></div>
			<img id="indexlogo" src="/img/logo-outline.svg" /> -->
				<h1 class="heading">Let's take this journey <span class="indexhead">together</span></h1>
			<!-- </div> -->

		</div><!--top-margin-->
	</div><!--container fluid-->

</section><!--Banner-->

	<section class="s1">
		<!-- <div class="container-fluid"> -->

			<div class="firstheadline">
				<div class="row">
						<div class="col-sm-4">
					<div class="h2background">
							<h2>Every Day<br /><span class="everyday">Caring</span></h2>
						</div>
					</div>
					<div class="col-sm-8">
						<!-- <div class="gallery">
							<div class="pic" id="pic1" style="background-image:url(http://epmgsenior.media.lionheartdms.com/img/croppedphotos/2011/09/07/108592227_t750x550.jpg?626c74b6d570df44fd02ecca30244159e005ff34)"></div>
							<div class="pic" id="pic2" style="background-image:url(http://www.seniorsolutions-stl.com/images/home-rotation7.png)"></div>
							<div class="pic" id="pic3" style="background-image:url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQlW0ZHJHec7xsX6A5RktQ6vLMjfhAGr-Y5z_ubgdkhzmmuEOXCzA)"></div> -->

							<div class="firstp tk-myriad-pro">
								<h3>Making your everyday extraordinary.</h3>
								<p>At The Carnelian, our goal is to make you feel at home. Our commitment to you is to not only provide you with the best care possible, but also to make you feel like family.</p>
								<p>This is an attitude that we strongly believe, and is felt by our residents every day. Because at The Carnelian, we not only have the experience to care for you or your loved ones, but we also truly love what we do.</p>
								<p>This is one of the ways that we try to make your everyday, extraordinary.</p>

							

							</div>
						<!-- </div> -->

					</div>
				</div><!--row-->
			</div><!--firstheadline-->

			<div class="container-fluid">
				

  
	<!-- </div> -->

	</section>

