---
title: Carnelian Assisted Living
---

<!-- Add your site or application content here -->
<section class="banner">
	<div class="gradient-overlay">
		<div class="container-fluid">


			<div class="top-margin">
				<!-- <div class="headerback"> -->
				<!-- <div class="logobr"></div>
				<img id="indexlogo" src="/img/logo-outline.svg" /> -->
					<h1 class="heading">Let's take this journey <span class="indexhead">together</span></h1>
				<!-- </div> -->

			</div><!--top-margin-->
		</div><!--container fluid-->
	</div><!--gradient-overlay-->

</section><!--Banner-->

	<section class="s1">
		<!-- <div class="container-fluid"> -->


		<!-- <div class="container-fluid"> -->
			<div class="row" id="first-p-padding">
				<div class="col-md-1">
				</div>
				<div class="col-md-9">
					<h3>Making your everyday extraordinary.</h3>
					<p>At The Carnelian, our goal is to make you feel at home. Our commitment to you is to not only provide you with the best care possible, but also to make you feel like family.</p>
					<p>This is an attitude that we strongly believe, and is felt by our residents every day. Because at The Carnelian, we not only have the experience to care for you or your loved ones, we also truly love what we do.</p>
					<p>This is one of the ways that we try to make your everyday, extraordinary.</p>
				</div>
				<div class="col-md-2">
				</div>
			</div><!--row-->

			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-9">
					<h3>Why Us?</h3>
				<p>
					For many people, long-term care is a necessity that must be considered. Various circumstances force our hand in this matter. But when you find the right place to care for yourself or your loved ones, your perspective on this time in your life may change. Things become a lot easier.
				</p>

				<p>
					At The Carnelian, we don't treat you as just another resident. Our community is one of strength, care, and building relationships. We take our commitment to you seriously, and greet every day with a smile. To us, you're more than just a client: you're part of our family.
				</p>
				<p>
					Here are just a few of the things that make The Carnelian special:
				</p>
				<div class="col-md-2">
				</div>
				</div>
			</div><!--row-->

			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-9">
					<h3>
						Community-Focused
					</h3>
					<p>With room for plenty of residents at the Carnelian, we are large enough to maintain an interesting, vibrant community, yet small enough to cater to your individual needs.</p>
					<p>Our home is decorated with comfort, style, and gatherings in mind. You can enjoy lounging in the family room, strolling through the rose garden, or chatting with friends in one of the gazebos outside. And don't forget the dining room, where you can enjoy our...</p>
				</div>
				<div class="col-md-2">
				</div>
			</div><!--row-->

			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-9">
					<h3>
							Homemade Food
						</h3>
						<p>
							Few pleasures in life draw greater attention than food. It is a necessity for all, and a passion for many. So why do so many places get it so wrong?
						</p>

						<p>
							We are lovers of food, and we enjoy sharing that passion with you. All of our dishes are prepared with fresh ingredients &mdash; never frozen or processed. You'll fall in love with the taste, variety, and nutrition of our meals. Did we mention dessert?
						</p>
				</div>
				<div class="col-md-2">
				</div>
			</div><!--row-->

			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-9">
					<h3>
							Events &amp; Activities
						</h3>
						<p>We believe that no matter your limitation or situation, being active is a great way to remain happy and healthy. That's why we take each of our residents for daily walks through our luscious rose garden, feature musical guests five times a week, and even offer formal exercise classes. For those who are more mellow-minded, we have movie nights, bingo, and arts and crafts. And we go all out for our holiday parties!
				</div>
				<div class="col-md-2">
				</div>
			</div><!--row-->

			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-9">
					<h3>
							Caring Staff
					</h3>
					<p>
						When you're in need of that personal touch, The Carnelian has you covered. Our caregivers are responsible to fewer residents than average. This ensures that the residents not only provide higher quality care with greater attention, but also get to know the residents under their care.
					</p>

					<p>
						Learn more about us by reading <a href="/history.html">Our History</a>, or stop by for a visit anytime.
					</p>
				</div>
				<div class="col-md-2">
				</div>
			</div><!--row-->


	</section>

