---
title: Our Difference
---

<section class="promisebanner">
	<div class="container-fluid">


		<div class="top-margin">
			<!-- <div class="headerback"> -->
				<h1 class="heading">The Carnelian <span class="promised">Difference</span></h1>
			<!-- </div> -->

		</div><!--top-margin-->
	</div><!--container fluid-->

</section><!--Banner-->

	<section class="s1">
		

	  <div class="firstheadline">
			<div class="firstp">
				<h3>Why Us?</h3>
				<p>
					For many people, long-term care is a necessity that must be considered. Various circumstances force our hand in this matter. But when you find the right place to care for yourself or your loved ones, your perspective on this time in your life may change. Things become a lot easier.
				</p>

				<p>
					At The Carnelian, we don't treat you as just another resident. Our community is one of strength, care, and building relationships. We take our commitment to you seriously, and greet the day with a smile. To us, you're more than just a client: you're part of our family.
				</p>
				<p>
					Here are just a few of the things that make The Carnelian special:
				</p>
			</div>

				<div class="thirdp">
				<div class="row">
					<div class="col-md-7">
						<h3>
							Community-Focused
						</h3>
						<p>Can't say specific numbers.</p>
						<p>With room for 30 residents in our home, we are large enough to maintain an interesting, vibrant community, yet small enough to cater to your individual needs.</p>
						<p>Our home is decorated with comfort, style, and gatherings in mind. You can enjoy lounging in the family room, strolling through the rose garden, or chatting with friends in one of the gazebos outside.</p>
						<!-- <p>Things the carnelian features:</p>
						<ul>
							<li>formal exercise class</li>
							<li>take residents for walks outside in the garden at least once to twice a day</li>
							<li>we have music programs 5 times a week</li>
							<li>other activities: arts/crafts, bingo, movie time</li>
							<li>Holiday parties</li>
							<li>other random, ad-hoc activities!</li>
						</ul> -->
					</div>
					<div class="col-md-5">
						<img style="max-width: 400px" id="dance" src="http://www.engagingseniors.com/wp-content/uploads/2014/07/seniors-dancing.jpg" />
					</div>
				</div>
			</div>



			<div class="secondp">
				<div class="row">
					<div class="col-md-5">
						<img style="margin: 160px 0 0 50px" src="http://theplanetweekly.com/wp-content/uploads/2015/06/dinnerplate.jpg" />

					</div>

					<div class="col-md-7">
						<h3 class="st-headline">
							Homemade Food
						</h3>
						<p>
							Few pleasures in life draw greater attention than food. It is a necessity for all, and a passion for many. So why do so many places get it so wrong?
						</p>

						<p>
							We are lovers of food, and we enjoy sharing that passion with you. All of our dishes are prepared with fresh ingredients; never frozen or processed. You'll fall in love with the taste, variety, and nutrition of our meals. Did we mention dessert?
						</p>
					</div>

				</div>
			</div>

			<div class="thirdp">
				<div class="row">
					<div class="col-md-7">
						<h3>
							Events &amp; Activties
						</h3>
						<p>We believe that no matter your limitation or situation, being active is a great way to remain happy and healthy. That's why we take each of our residents for daily walks through our luscious rose garden, feature musical guests five times a week, and even offer formal exercise classes. And for those who are more mellow-minded, we have movie nights, bingo, and arts and crafts. And we go all out for our holiday parties, where the whole family is invited!</p>
						<!-- <p>Things the carnelian features:</p>
						<ul>
							<li>formal exercise class</li>
							<li>take residents for walks outside in the garden at least once to twice a day</li>
							<li>we have music programs 5 times a week</li>
							<li>other activities: arts/crafts, bingo, movie time</li>
							<li>Holiday parties</li>
							<li>other random, ad-hoc activities!</li>
						</ul> -->
					</div>
					<div class="col-md-5">
						<img style="max-width: 400px" id="dance" src="http://www.engagingseniors.com/wp-content/uploads/2014/07/seniors-dancing.jpg" />
					</div>
				</div>
			</div>

			<div class="secondp">
				<div class="row">
					<div class="col-md-5">
						<img style="margin: 160px 0 0 50px; max-width: 400px" src="http://www.care-one.com/wp-content/uploads/2011/05/assisted.png" />

					</div>

					<div class="col-md-7">
						<h3 class="st-headline">
							Professional Care
						</h3>
						<p>
							You wouldn't be reading this if you didn't need professional assistance caring for yourself or a loved one.
						</p>
						<p>What separates CArnelian from bigger places is that we spend the time wit the residents. A personal touch. Don't rush the residents. One caregiver has five residents to care for. </p>

						<p>
							The Carnelian employs professional caregivers with many years of experience. We strive to provide excellent care with a personal, familial touch that you won't find anywhere else.
						</p>
						<p>Learn more about us by reading <a href="/about.html">Our History</a>, or just stop by for a visit.</p>
					</div>

				</div>
			</div>











				<!-- <p>We understand that aging can pose unique challenges for you and your family. Just finding the right care can be overwhelming.</p>
				<p>At The Carnelian, we provide much more than just care. We treat our clients as individuals that are part of a family. It is our goal to make you feel at home.</p>
				<p></p>
				<p>We won't deny the challenges brought by aging. We understand it can be overwhelming. That looking for the "right care" should take priority over anything else. However, we can't look past the person needing care. Here at The Carnelian, we value you as an individual. That is why, we offer an environment that feels like your own home. We want you to feel you belong here and that you are part of our family. We are here for you. We are not just caregivers or helpers, we are your companions. Aging is a journey and we want to take that journey with you.</p>
			</div>
			<ul>
				<li>aging has challenges</li>
				<li>having the right care is the most important</li>
				<li>the person's needs should be priority</li>
				<li>environment that feels like your home</li>
				<li>We are not just caregivers or helpers, but your companions</li>
				<li>Aging is a journey and we want to take that journey with you</li>
			</ul> -->

	</section>
