---
title: Our Promise
---

<section class="promisebanner">
	<div class="container-fluid">


		<div class="top-margin">
			<!-- <div class="headerback"> -->
				<h1 class="heading">Our <span class="promised">Promise</span></h1>
			<!-- </div> -->

		</div><!--top-margin-->
	</div><!--container fluid-->

</section><!--Banner-->

	<section class="s1">

	  <div class="firstheadline">
			<div class="firstp">
				<h3>Making your everyday extraordinary.</h3>
				<p></p>
				<p>We understand that aging can pose unique challenges for you and your family. Just finding the right care can be overwhelming.</p>
				<p>At The Carnelian, we provide much more than just care. We treat our clients as individuals that are part of a family. It is our goal to make you feel at home.</p>
				<p></p>
				<p>We won't deny the challenges brought by aging. We understand it can be overwhelming. That looking for the "right care" should take priority over anything else. However, we can't look past the person needing care. Here at The Carnelian, we value you as an individual. That is why, we offer an environment that feels like your own home. We want you to feel you belong here and that you are part of our family. We are here for you. We are not just caregivers or helpers, we are your companions. Aging is a journey and we want to take that journey with you.</p>
			</div>
			<ul>
				<li>aging has challenges</li>
				<li>having the right care is the most important</li>
				<li>the person's needs should be priority</li>
				<li>environment that feels like your home</li>
				<li>We are not just caregivers or helpers, but your companions</li>
				<li>Aging is a journey and we want to take that journey with you</li>
			</ul>
		</div>

	</section>
